{% extends 'customer/customerbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

       label #sidebar_btn {
      z-index: 1;
      color: #fff;
      position: fixed;
      cursor: pointer;
      left: 300px;
      padding-left: 60px;
      margin-top:15px;
      font-size: 20px;
      
      transition: 0.5s;
      transition-property: color;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="text-center">Submitted Claims</h4>
    </div>
    <table class="table table-hover table-striped table-bordered" id="dev-table">
      <thead class="thead-dark">
        <tr>
        <th>#</th>
          <th>Claim ID</th>
          <th>Vehicle Name</th>
          <th>Make</th>
          <th> Registration Number</th>
          <th>Date</th>
          <th> Status</th>
          <th>Remarks</th>
          <th>Full Details</th>
          
        </tr>
      </thead>
      {% for t in claims %}
      <tr>
        <td> {{ forloop.counter }}</td>
        <td> {{t.id}}</td>

        <td>{{t.vehicle}}</td>
        <td>{{t.make}}</td>
        <td>{{t.reg}}</td>
        <td id="date">{{t.date}}</td>
        <td>{{t.Status}}</td>
        <td>{{t.Remarks}}</td>
        <td style="text-align: center;"><a class="btn btn-success btn-sm" href="{% url 'claim_details' t.id %}"><span class="fa fa-eye" ></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<script>
  var today = new Date();
  var dd=String(today.getDate()).padStart(2,'0');
  var mm= String(today.getMonth()+ 1).padStart(2,'0');
  var yyyy=today.getFullYear();
  today= mm+ '/'+dd+'/'+yyyy;
  document.getElementById("date").innerHTML=today;
</script>
<br><br><br><br><br><br>
{% endblock content %}